/**
 * Font Style: Open Sans Regular
 */


@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/open-sans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/open-sans/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
th,
#menu-primary li a,
#menu-portfolio li a,
.breadcrumb-trail,
.page-links,
.loop-pagination,
.loop-nav,
#respond input[type="submit"],
#footer {
	font-family: 'OpenSansRegular';
}